/* FILE: style.scss */

//
// Main theme styles
//
// @package    Invoices
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.0.0
//





// Variables

	$color_shaded : #ddd;
	$color_dark : #444;

	$gutter: 5mm;



// Imports

	@import 'main/reset';

	@import 'main/base';

	@import 'main/extenders';

	@import 'main/header';

	@import 'main/post';

	@import 'main/meta';

	@import 'main/footer';

	@import 'main/summary';

	@media print {
		@import 'main/print';
	}
