/* FILE: parts/_meta.scss */

.invoice-meta {

	&-container {
		display: flex;
		justify-content: space-between;
		margin: 0 ( -$gutter / 2 );

		&:last-child {

			&,
			.invoice-meta-item {
				margin-bottom: 0;
			}

		}

	}

	&-item {
		padding: $gutter;
		width: calc( 50% - #{ $gutter } );
		margin: $gutter / 2;
		border: 1pt solid;

		&:nth-child(1):nth-last-child(1) {
			width: calc( 100% - #{ $gutter } );
		}

		&:nth-child(1):nth-last-child(3),
		&:nth-child(2):nth-last-child(2),
		&:nth-child(3):nth-last-child(1) {
			width: calc( 33.33% - #{ $gutter } );
		}

	}

	&-label {
		margin: 0;
		text-transform: uppercase;
		font-size: .81em;
		letter-spacing: .05em;
	}



	// Companies

		&-company {
			background: transparent;
			border: 1pt solid;

			h3 {
				margin: 0;
				font-size: 1.19em;
				font-weight: 700;
			}

			.invoice-meta-value {
				margin-top: $gutter;
			}

		}



	// Dates

		&-date {
			text-align: center;

			&-container {
				margin-bottom: $gutter;
			}

			.invoice-meta-value {
				font-size: 1.38em;
				font-weight: 700;
			}

			.sep {
				margin: 0 1mm;
				font-size: .81em;
				opacity: .33;
			}

		}



	// Totals

		&-total {
			display: flex;
			flex-direction: column;
			text-align: right;
			background: transparent;
			border: 0;

			&-container {
				margin-top: auto;
			}

			.invoice-meta-label {
				order: 10;
				margin-top: auto;
				padding-top: $gutter / 2;
				border-top: 3pt double;
			}

			.invoice-meta-value {
				margin-bottom: $gutter / 2;
				font-size: 2.62em;
				font-weight: 700;

				.currency {
					font-size: .81em;
				}

			}

			.dual-currency {
				font-size: .62em;
			}

		}

		&-stamp {
			text-align: left;
			background: transparent;
			color: inherit;

			img {
				width: auto;
				max-height: 20mm;
			}

			.invoice-meta-label {
				border-top: 1pt solid;
			}

		}



	// Symbols

		&-symbol {

			.invoice-meta-label {
				float: left;
			}

			.invoice-meta-value {
				text-align: right;
				font-size: 1.38em;
				font-weight: 700;
			}

		}



	// Payment methods

		&-payment {
			overflow: hidden;

			.invoice-meta-label {
				float: left;
			}

			.invoice-meta-value {
				margin-left: 33.33%;
			}

		}

}
