/* FILE: parts/_post.scss */

.invoice {
	display: flex;
	flex-direction: column;
	height: calc( 297mm - #{ $gutter * 4 } ) ; // A4 paper size: 210 x 297 mm
	padding: $gutter * 2;

	@media screen {
		background-color: #fff;
		box-shadow: 0 5mm 20mm rgba( #000, .1 );
	}

	&-title {
		padding: $gutter;
		margin-bottom: $gutter / 2;
		background-color: $color_dark_grey;
		color: #fff;

		h1 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 1.62em;
			font-weight: 700;
			letter-spacing: .05em;
		}

	}

	&-note {
		margin: $gutter 0;
	}

	&-items {

	}

	&-total {

	}

}
