/* FILE: admin.scss */
/* FILE: admin/_layout.scss */
@media screen and (min-width: 1600px) { .post-type-post #poststuff #post-body.columns-2 { margin-right: 33.33%; }
  .post-type-post #poststuff #post-body.columns-2 #postbox-container-1 { margin-right: -49.9925%; width: calc( 49.9925% - 20px); }
  .post-type-post #poststuff #post-body.columns-2 #side-sortables { width: 100%; } }

/* FILE: admin/_metabox-publish.scss */
@media screen and (min-width: 1600px) { #publishing-action { width: 62%; }
  #publishing-action .button { width: 62%; height: auto; padding: .62em; text-transform: uppercase; } }

#timestampdiv { display: block !important; }

.edit-timestamp, .save-timestamp, .cancel-timestamp { display: none !important; }

/* FILE: admin/_metabox-acf.scss */
.post-type-post .acf-repeater .acf-row-handle .acf-icon[data-event="collapse-row"] { display: none !important; }

.post-type-post .acf-actions .button { width: 100%; height: auto; padding: .62em; text-align: center; text-transform: uppercase; }

.post-type-post .acf-taxonomy-field .categorychecklist-holder { padding: 10px 0; border: 0; overflow: visible; }

.post-type-post .acf-taxonomy-field .acf-checkbox-list { padding: 0; }

.post-type-post .acf-bl > li { display: inline-block; margin-right: 1em; }
