/* FILE: admin-dashboard.scss */
/* FILE: admin/_dashboard.scss */
h1 { position: absolute !important; width: 1px; height: 1px; line-height: 1px; word-wrap: normal !important; -webkit-clip-path: inset(50%); clip-path: inset(50%); clip: rect(1px, 1px, 1px, 1px); overflow: hidden; }

#dashboard-widgets .meta-box-sortables { min-height: 1.62em; }

.metabox-holder .postbox-container .empty-container { height: 1.62em; border: 0; }

.welcome-panel { clear: both; padding: 2.62em 6%; font-size: 15px; }

.welcome-panel-content { margin: 0; max-width: 100%; }

.welcome-panel h2, .welcome-panel h3 { margin-bottom: .62rem; font-size: 2.62em; font-weight: 700; }

.welcome-panel h2 small, .welcome-panel h3 small { font-weight: 400; }

.welcome-panel h3 { margin-top: 0; margin-bottom: 1em; font-size: 1.38em; }

.welcome-panel p, .welcome-panel li { font-size: 1em; }

.welcome-panel .button { font-weight: 700; }

.welcome-panel-close { display: none; }

.welcome-panel-column { width: auto; max-width: 70ch; margin-left: 2.62em; }

.welcome-panel .welcome-panel-column:first-child { width: auto; margin-left: 0; }

.welcome-panel-column-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 2.62em; }

.welcome-panel-column-container + .welcome-panel-column-container { padding-top: 2.62em; margin-top: 2.62em; border-top: 1px solid #ddd; }

.welcome-panel-column:not(.welcome-panel-column-links) ul { margin-left: 1.62em; }

.welcome-panel-column:not(.welcome-panel-column-links) li { list-style: disc; line-height: 1.5; }

.welcome-panel-column-links { max-width: 100%; padding: 2.62em; border: 1px solid #ddd; }

.welcome-panel .welcome-panel-column-links:first-child { width: 62%; }

.welcome-panel-column-links ul { overflow: hidden; }

.welcome-panel-column-links li { float: left; width: 50%; }

.welcome-panel-column-customize { max-width: 45ch; padding: 2.62em; background-color: #eee; background-image: -o-radial-gradient(0% 100%, circle, rgba(255, 255, 255, 0.66) 0, transparent 100%); background-image: radial-gradient(circle at 0% 100%, rgba(255, 255, 255, 0.66) 0, transparent 100%); border: 1px solid #ddd; }

.welcome-panel-column-requirements { max-width: 45ch; padding: 2.62em; background-color: #c03; background-image: -o-radial-gradient(0% 100%, circle, rgba(255, 255, 255, 0.33) 0, transparent 100%); background-image: radial-gradient(circle at 0% 100%, rgba(255, 255, 255, 0.33) 0, transparent 100%); color: #fff; border: 1px solid #c03; }

.welcome-panel-column-requirements.welcome-panel-column *:not(.button) { color: inherit; }

.welcome-panel-footer { padding-top: 1em; margin-top: 2.62em; text-align: right; font-size: .81em; border-top: 1px solid #ddd; }
