/* FILE: main/_extenders.scss */

%new_year_label {

	&::before {
		content: attr( data-year );
		position: absolute;
		right: 100%;
		top: 50%;
		padding: $gutter;
		line-height: .75;
		font-size: 2.62em;
		font-weight: 700;
		transform: translateY( -50% );
		cursor: help;

		@media print {
			display: none;
		}

	}

}
