/* FILE: main/_extenders.scss */

%site_meta {
	padding: ( $gutter * 2 ) 0;
	margin: ( $gutter * 4 ) 0;

	&:first-child {
		padding-bottom: 0;
	}

	&:last-child {
		padding-top: 0;
	}

	@media print {
		display: none;
	}

}
