/* FILE: main/_footer.scss */

.site {

	&-footer {
		text-align: center;

		@media screen {
			padding: ( $gutter * 4 ) 6%;
			background: #111;
			color: #fff;
		}

		@media print {
			page-break-before: always;
			page-break-inside: avoid;
			position: relative;
			padding: $gutter * 4.5;

			&::after {
				content: '';
				position: absolute;
				width: calc( 100% - #{ $gutter * 2 * 2 } );
				height: calc( 100% - #{ $gutter * 2 * 2 } );
				left: 0;
				top: 0;
				margin: $gutter * 2;
				border: ( $gutter * .5 ) solid #ddd;
			}

			.single & {
				display: none;
			}

		}

		a {
			color: inherit;
		}

	}

	&-info {
		margin-top: $gutter * 2;

		@media screen {
			margin-top: $gutter;
			opacity: .5;
		}

	}

}
