/* FILE: main/_header.scss */

.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: $gutter 6%;
	@include background_gradient( to bottom );
	color: #fff;

	@media print {
		display: none;
	}

	a {
		text-decoration: none;
	}

}

.page {

	&-header {
		margin: ( $gutter * 2 ) 0 ( $gutter * 4 );

		@media print {
			display: none;
		}

	}

	&-title {
		font-size: 1.62em;
		font-weight: 700;
	}

}

.site {

	&-branding {
		margin: $gutter 0;
		text-transform: uppercase;
		letter-spacing: .05em;

		a {
			color: inherit;
		}

	}

	&-title {
		margin: 0;
		font-size: 1.62em;
		font-weight: 700;
	}

	&-description {
		margin: 0;
	}

}
