/* FILE: main/_header.scss */

.site-header {

	@media print {
		display: none;
	}

}

.page {

	&-header {
		padding: $gutter;
		margin-bottom: $gutter * 4;
		border: 3pt double;

		@media print {
			display: none;
		}

	}

	&-title {
		font-size: 1.62em;
		font-weight: 700;
	}

}

.site {

	&-branding {
		margin: $gutter 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .05em;

		a {
			color: inherit;
		}

	}

	&-title {
		margin: 0;
		font-size: 1.62em;
		font-weight: 700;
	}

	&-description {
		margin: 0;
	}

}
