/* FILE: main/_loop.scss */

.posts {

	@media screen {
		margin: ( $gutter * 4 ) 0;
	}

	.invoice {

		// Full display in archive pages
		@media screen {

			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 4px;
				top: 6px;
				background-color: inherit;
				border: inherit;
				z-index: -1;
			}

		}

	}

}



// Simple invoice display in homepage posts list

	.invoice-simple {
		position: relative;
		min-width: 320px;
		max-width: 480px;
		height: auto;
		padding: $gutter * 2;
		margin: $gutter / 2;
		background: #fff;
		color: #111;
		border: 1px solid rgba( #000, .15 );
		transition: box-shadow .3s;

		a {
			text-decoration: none;
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&-date {
			margin-bottom: $gutter * 2;
			text-transform: uppercase;
		}

			// &:first-child {
			// 	@extend %new_year_label;
			// }
			// @for $year from 2015 through 2025 {
			// 	&[data-year="#{ $year }"] + [data-year="#{ $year - 1 }"] {
			// 		@extend %new_year_label;
			// 	}
			// }

		&-title {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 0 0 ( $gutter * 2 );
			font-size: 2em;
			font-weight: 700;
		}

			.post-edit-link {
				margin-left: auto;
				text-transform: uppercase;
				font-size: .81rem;
				font-weight: 400;
				letter-spacing: .05em;
				opacity: .33;
				transition: opacity .3s;

				&::before {
					content: '[';
				}

				&::after {
					content: ']';
				}

				@media print {
					display: none;
				}

			}

		&-company {
			font-weight: 700;

			&-item {
				display: flex;
				flex-wrap: wrap;
			}

			&-label {
				text-transform: uppercase;
				font-weight: 400;
				font-size: .81em;
				letter-spacing: .05em;
			}

			&-value {
				margin-left: auto;
			}

		}

		&-total {
			margin: ( $gutter * 2 ) 0 0;
			font-size: 1.38em;
			font-weight: 700;

			a {
				display: flex;
				align-items: flex-end;
				color: inherit;
			}

			.dual-currency {
				display: inline-block;
				margin-left: auto;
				cursor: help;
				opacity: .33;
				transition: opacity .3s;
			}

		}

		&:hover {
			box-shadow: 0 1em 4em rgba( #000, .15 );

			.post-edit-link,
			.dual-currency {
				opacity: 1;
			}

		}

	}

	.separator {

		&-month {
			width: 100%;
			padding: $gutter 0;
			font-size: 1.38em;
			text-align: center;
			text-transform: uppercase;

			&:first-child {
				padding-top: 0;
			}

			span {
				margin: 0 .25em;

				&:first-child {
					font-weight: 800;
				}

			}

		}

	}
