/* FILE: main/_post.scss */

.invoice {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 295mm;
	padding: $gutter * 2;
	margin: ( $gutter * 2 ) 0;

	& + & {
		margin-top: $gutter * 4;
	}

	@media screen {
		background-color: #fff;
		box-shadow: 0 5mm 20mm rgba( #000, .1 );
	}

	@media print {
		page-break-before: always;
		page-break-inside: avoid;
		margin: 0 !important;
	}



	// Link/anchor

		&-anchors {
			position: absolute;
			left: 100%;
			top: 0;
			padding-top: 2.5 * $gutter;
			margin-left: $gutter;
			margin-top: -3.5 * $gutter;
			text-align: center;
			font-size: 1.38em;

			@media print {
				display: none;
			}

			a {
				display: block;
				min-width: $gutter * 3;
				padding: $gutter / 2;
				margin: $gutter 0;
			}

		}

		.permalink,
		.post-edit-link,
		.print {
			font-size: .62em;
		}

		.post-edit-link,
		.print {
			text-transform: uppercase;
			font-weight: 700;
			border: 1pt dashed;
		}

		&-navigation {
			font-weight: 900;
			color: inherit;
			border: 1pt solid;

			.single & {
				display: none;
			}

		}

		&:first-child .previous,
		&:last-child .next {
			display: none;
		}



	// Title

		&-title {
			margin-bottom: $gutter / 2;

			h1, h2 {
				font-size: 2.62em;
				font-weight: 700;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&-label {
				font-weight: 400;
			}

		}



	// Notes

		&-note {

			& + & {
				margin-top: $gutter / 2;
			}

			h2, h3 {
				margin: 0;
				font-size: 1rem;
				font-weight: 700;
			}

			&-exchange {
				font-size: .81em;
			}

		}



	// Products

		&-products {
			width: 100%;
			text-align: center;

			.invoice-note + & {
				margin-top: $gutter;
			}

			thead {
				text-transform: uppercase;
				font-size: .81rem;
				letter-spacing: .05em;

				th {
					font-weight: 400;
					white-space: nowrap;
				}

			}

			th, td {
				padding: $gutter / 2;
				border-bottom: 1pt dashed;
			}

			th {
				border-bottom: 1pt solid;
			}

			&-column-order {
				width: 4%;
				font-size: .81rem;
			}

			&-column-description {
				width: 55%;
				text-align: left;

				h2, h3,
				strong:first-child {
					margin: 0;
					font-size: 1rem; // Required for when inside .description
					font-weight: 700;
				}

				.description {
					font-size: .91em;
				}

			}

			&-column-quantity {
				width: 5%;
			}

			&-column-price {
				width: 18%;
				text-align: right;
			}

			&-column-total {
				width: 18%;
				text-align: right;
				font-weight: 700;
			}

		}

}



.generator {

	h1, h2 {
		font-size: 1.38em;
		font-weight: 700;
	}

	h1 {
		font-size: 1.62em;
	}

	p {
		clear: both;
		margin-bottom: $gutter;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}

	}

	label {
		display: block;
		padding-bottom: .62em;
	}

	input,
	textarea {
		width: 100%;
		padding: .62em;
		font-family: monospace;
		font-weight: 700;
	}

	[type="submit"] {
		width: auto;
		padding: 1em 2em;
		font-family: inherit;
		cursor: pointer;
	}

	.reload {
		display: block;
		margin: 1.62em 0;
		text-align: right;
		font-style: italic;
	}

	.error {
		padding: 1em;
		border: 2pt dotted;

		a {
			display: block;
			margin-top: 1em;
		}

	}

	.column {
		clear: none;
		float: left;
		width: 48%;

		+ .column {
			float: right;
		}

	}

	.description {
		display: block;
		margin-top: $gutter / 4;
		font-size: .81em;
		font-style: italic;
	}

	&-section {
		padding: 2em;
		margin: 2em 0;
		border: 1pt solid rgba( #000, .25 );
	}

}
